body {
  background-color: #15212b !important;
}

.center {
  display: grid;
  place-items: center;
}

.custom-input {
  background-color: rgba(245, 245, 245, 0.055);
  border: none;
  border-radius: 4px;
  border-bottom: 1px solid white;
  padding: 32px 8px 0px 8px;
  color: whitesmoke;
  margin-bottom: 16px;
  width: 100%;

  &:focus {
    outline: none;
    border-bottom: 1px solid #20a1f1;
  }
}

.custom-form-group {
  position: relative;

  &:focus-within label {
    color: #20a1f1 !important;
  }

  label {
    position: absolute;
    padding-left: 8px;
    font-size: smaller;
  }
}

.forgot-link {
  position: absolute;
  left: 0;
  bottom: -5px;
  font-size: small;
}

@mixin modal {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.signup-modal {
  @include modal;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.438);
}

.comment-modal {
  @include modal;
  background-color: rgba(206, 206, 206, 0.212);
}

.twitter-btn {
  background-color: transparent;
  border: none;
  color: whitesmoke;
  padding: 8px 16px;
  font-size: x-large;
  display: block;

  &:hover {
    background-color: #253441;
    border-radius: 50rem;
  }

  &:focus {
    outline: none;
  }
}

.tweet-input {
  background-color: transparent;
  border: none;
  font-size: x-large;
  color: whitesmoke;

  &:focus {
    outline: none;
    padding-bottom: 16px;
    width: 85%;
    border-bottom: 1px solid rgb(146, 146, 146);
  }
}

.reply-input {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: whitesmoke;

  &:focus {
    outline: none;
    width: 85%;
  }
}

.search-input {
  margin-top: 8px;
  border: none;
  border-radius: 50rem;
  padding: 8px 16px 8px 43px;
  color: whitesmoke;
  width: 300px;
  background-color: rgba(245, 245, 245, 0.055);

  &:focus {
    outline: none;
  }
}

.search-icon {
  position: absolute;
  color: gray;
  left: 20px;
  top: 19px;
  font-size: large;
}
